		'<?php echo strtolower($className); ?>_edit' => array('/<?php echo strtolower($className); ?>/edit/{id}',       '<?php echo $className; ?>', 'edit'),
		'<?php echo strtolower($className); ?>_list' => array('/<?php echo strtolower($className); ?>/list',            '<?php echo $className; ?>', 'list'),
		'<?php echo strtolower($className); ?>_add' => array('/<?php echo strtolower($className); ?>/add',              '<?php echo $className; ?>', 'add'),
		'<?php echo strtolower($className); ?>_delete' => array('/<?php echo strtolower($className); ?>/delete/{id}',   '<?php echo $className; ?>', 'delete'),
		'<?php echo strtolower($className); ?>_save' => array('/<?php echo strtolower($className); ?>/save',            '<?php echo $className; ?>', 'save'),
		
'<?php echo $className; ?>' => array('title' => 'Название объекта',     'route' => '<?php echo strtolower($className); ?>_list',   'params' => array()),