		'%CLASS_NAME_LC%_edit' => array('/%CLASS_NAME_LC%/edit/{id}',       '%CLASS_NAME%', 'edit'),
		'%CLASS_NAME_LC%_list' => array('/%CLASS_NAME_LC%/list',            '%CLASS_NAME%', 'list'),
		'%CLASS_NAME_LC%_add' => array('/%CLASS_NAME_LC%/add',              '%CLASS_NAME%', 'add'),
		'%CLASS_NAME_LC%_delete' => array('/%CLASS_NAME_LC%/delete/{id}',   '%CLASS_NAME%', 'delete'),
		'%CLASS_NAME_LC%_save' => array('/%CLASS_NAME_LC%/save',            '%CLASS_NAME%', 'save'),
		
'%CLASS_NAME_LC%_list' => array('title' => 'Название объекта',     'route' => '%CLASS_NAME_LC%_list',   'params' => array()),