[%php
namespace ctl;

require_once 'admin/lib/StdController.php';

class <?php echo $className; ?> extends \Admin\StdController {
	public function __construct(\Admin\Application $app, \Admin\Route $route) {
		parent::__construct($route->getMenu(), '<?php echo strtolower($className); ?>_list', '<?php echo $className; ?>', $app);
	}

}