[%php
namespace <?php echo $className; ?>;

use Admin\Extension\Template\Template;

class FormTemplate extends Template {

	public function __construct($app) {
		parent::__construct($app);
		$this->setParent('Layout');
	}

	protected function show($data, $content = null) {
		$<?php echo strtolower($className); ?> = isset($data['object']) ? $data['object'] : null;
		%]
	<script type="text/javascript">
		$(function () {
			AdminJS.initTabs('#tabs');
		});
		$(document).ready(function(){
			$("#editForm").validate({
				errorClass: "invalid"
			});
		});
	</script>
	<div class="submenubar">
		<a href="[%php echo $this->getUrl('<?php echo strtolower($className); ?>_list') %]">[Список]</a>
		<a href="[%php echo $this->getUrl('<?php echo strtolower($className); ?>_add') %]">[Добавить]</a>
	</div>
	<div class="group">
		<div class="capture">[%php echo $<?php echo strtolower($className); ?> ? 'Редактирование' : 'Создание';%]</div>
		<div id="tabs">
			<a href="#general">Общие</a>
		</div>
		<form method="post" id="editForm" class="required" minlength="2" action="[%php echo $this->getUrl('<?php echo strtolower($className); ?>_save'); %]" enctype="multipart/form-data">
			<input type="hidden" name="form[<?php echo MODEL_ID_FIELD_NAME; ?>]" value="[%php echo $<?php echo strtolower($className); ?>-><?php echo MODEL_ID_FIELD_NAME; ?> ? : ''; %]"/>

			<div id="general">
				<table>

						[%php
							foreach($data->value['model']->fields as $field) {
								if ($field->name == <?php echo MODEL_ID_FIELD_NAME; ?>) continue;
								echo '<tr><td>' .$field->adminName. '</td>';
								echo '<td>' .$field->input($<?php echo strtolower($className); ?>). '</td></tr>';
							}
						%]

				</table>
			</div>

			<table>
				<tr>
					<td colspan="2">
						<div class="button button-save">
							<div class="icon icon-save"></div>
							<span>Сохранить</span>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>
	[%php

	}
}