<?php
namespace model;

require_once 'model/%CLASS_NAME%Model.php';
require_once 'admin/lib/AdminModel.php';

class %CLASS_NAME% extends \AdminModel {
	/**
	 * @param IDatabase $db
	 */
	public function __construct(\IDatabase $db) {
		parent::__construct(new \%CLASS_NAME%Model($db));
	}
}
