/*Overall document styles*/

html, body {
	margin: 0;
	height: 100%;
	font-family: Helvetica, Georgia, Arial, sans-serif;
	font-size: 12px;
    background-color: white;
}
a {
	color: red;
	text-decoration: underline;
}
a:visited {
	color: #8b0000;
}
a.hiddenlink {
    color: black;
    text-decoration: none;
}
img {
	border: none;
}
#container {
	min-height: 100%;
    min-width: 80.583em;
    width: 80.583em;
    margin: 0 auto;
}

#content {
    clear:both;
}

#footer {
	margin-bottom: 0;
	margin-top: -38em;
}
#footerstub {
	margin: 0;
	height: 38em;
}
#footer h1 {
	font-size: 1.55em;
	font-weight: normal;
}
#countersbar {
	height: 5em;
	background-color: #ffffff;
	width: 100%;
	font-size: 0.8em;
}
#counter {
	margin-right: -26.833em;
	margin-top: 2em;
	width: 100%;
	float: left;
}
#networks {
	width: 26.833em;
	float: left;
	text-align: right;
	margin-top: 2em;
}
.lightgray {
	background-color: #efefef;
	float: left;
	width: 100%;
	position: relative;
	right: 26.833em;
	height: 27em;
}
.darkgray {
	background-color: #e2e2e2;
	float: left;
	width: 100%;
	position: relative;
	overflow: hidden;
	position: relative;
	line-height: 1.5em;
}
.lcol {
	margin-right: -53.666em;
	width: 100%;
	float: left;
	position: relative;
	left: 26.833em;
}
.footerblock {
    padding: 2em 1em 2em 3em;
}

#footer ul {
	list-style: none;
    padding-left: 0;
}
#seo {
	clear: both;
	background-color: red;
	height: 7em;
}
#seo p {
	color: #ffffff;
	font-size: 0.7em;
	padding: 1em 3em;
}
#header #top {
	height: 72px;
}
#header #image {
	height: 138px;
    background: url(img/heads/rivercabin.png) no-repeat;
}
#header #menu {
	height: 5em;
    background: #ffcf00 url(img/bg/menu_top.png) repeat-x;
    margin-top: 0.4em;
}
#header {
	height: 100px;
}
#logo {
	z-index: 1000;
	position: relative;
	height: 100px;
	width: 100px;
	top: -52px;
}
.rcol {
	width: 26.833em;
	float: left;
	position: relative;
	left: 26.833em;
}
.menuitem {
	float: left;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	padding: 18px 26px;
	height: 26px;
}
.selected.menuitem {
	background-color: white;
	text-decoration:none;
}

.fold {
	float: left;
	overflow: hidden;
    margin-right: 1px;
}
.foldbg{
	background-color:#eeeeee;
	position: relative;
}

#footerstub {
	clear: both;
}


.foldbg.selected{
	background-color:#ffcf00;
}
.foldbg.bottom {
	margin-bottom: 11px;
	top: -12px;
}
.foldbg.top {
	top: 12px;
}
.foldbg>*{position: relative;}
.foldbg.top>*{
	bottom: 12px;
	}
.foldbg.bottom>* {top: 12px;}

.foldbl { background: url(img/bg/fold_bl.png) no-repeat left bottom;}
.foldbr { background: url(img/bg/fold_br.png) no-repeat right bottom;}
.foldbldark { background: url(img/bg/fold_bl_dark.png) no-repeat left bottom;}
.foldbrdark { background: url(img/bg/fold_br_dark.png) no-repeat right bottom;}
.foldtl { background: url(img/bg/fold_tl.png) no-repeat left top;}
.foldtr { background: url(img/bg/fold_tr.png) no-repeat right top;}
.selected .foldtl { background: url(img/bg/fold_tl_s.png) no-repeat left top;}
.selected .foldtr { background: url(img/bg/fold_tr_s.png) no-repeat right top;}

.foldtsdark { background: url(/static/img/bg/fold_b_sh_dark.png) repeat-x top; }
.foldbs { background: url(/static/img/bg/fold_b_sh.png) repeat-x bottom; }
.foldbsdark {
	background: url(/static/img/bg/fold_b_sh_dark.png) repeat-x top; 
	border-top: 1px white solid; 
}
.selected .foldbs { background: none; }

.foldi {
	background-color: #eeeeee;
	margin: 0 11px;
	padding: 2px 0;
}
.foldi.top {
	background: url(/static/img/bg/fold_b_sh.png) repeat-x bottom #eeeeee;
	min-height: 19px;
	padding-top: 5px;
}
.foldi.bottom {
	background: url(/static/img/bg/fold_b_sh_dark.png) repeat-x top #898989;
	min-height: 19px;
	padding-top: 5px;
}
.selected .foldi.top {
	background: #ffcf00;
	min-height: 19px;
}
.fold .text { text-align:center; }
#catfolds {
    margin: 0;
    padding: 0;
    width: 240px;
    height: 24px;
    white-space: nowrap;
    text-align: justify;
}
.searchfold {
    background: url(/static/img/bg/fold_b_sh.png) repeat-x bottom #eeeeee;
    padding: 5px;
    border-radius: 9px 9px 0 0;
    min-width: 61px;
    float: right;
    text-align: center;
    margin-left: 3px;
    color: #555555;
    max-width: 81px;
    overflow: hidden;
}
.searchfold:first-child {
    margin-left: 0;
    float:left;
}
.searchfold.selected{
    background:#ffcf00;
    color: black;
}

.selected {
	color: red;
}

#contentlcol {
	float: left;
	width: 245px;
}
#contentrcol {
	margin-left: 245px;
}
#language {
	float: left;
}
#currency {
	float: left;
}
.fold_selected {
	float: left;
}
#header .idlcol {
	min-width: 340px;
	float:left;
	overflow: hidden;
}
#hlcol {
    min-width: 245px;
    float:left;
}

.black {
	color: black;
}
.grey {
	color: #828282;
}
.title {
	font-size: 2em;
	font-style: normal;
	font-weight: normal;
}
.label {
	font-size: 0.75em;
	font-weight: normal;
	text-transform: uppercase;
	float: left;
	text-align: right;
}
#mainsearch {
	clear: both; 
	background-color: #ffcf00; 
	width: 210px;
	padding: 15px;
}
#mainsearch select{
	margin-top: 0;
	margin-bottom: 5px;
}

#mainsearch select.first{
	margin-left: 55px;
}
#mainsearch select.firstd{
	margin-left: 15px;
}
.lab {
	 position: absolute; text-align:right; width:50px; height: 21px;line-height:21px;
}

.labd {
	 position: absolute; text-align:right; width:10px; height: 21px;line-height:21px;
}
.white, a.white:visited{
	color:white;
}
#banners {
    height: 8.333em;
    overflow: hidden;
    clear: both;
    margin-top: 0.4em;
}
.bannercol {
    margin-left:0.166em;
    float:right;
}
.bannercol img {
    width: 20em;
    height:8.333em;
}
.bannercol:first-child {
    float: left;
    margin-left: 0;
}

.itemblock{
	min-height:26px;
	background-color: #efefef;
	border-radius: 13px;
	padding: 4px;
    margin-bottom: 1em;
}

#searchpad {
	margin: 0;
	padding: 0;
	float:left;
}


.itemblock>.left {
	float:left;
	width:500px;
}
.itemblock>.left>.left {
	float:left;
	padding: 15px;
}
.itemblock>.right>.right {
	margin-left:150px;
}

.outer_pad {
	background-color: #e4e4e4;
	border-radius: 9px;
	border: solid white 1px;
	overflow:hidden;
	-webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
	box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
}
.outer_pad div{
	text-align:center;
	padding: 10px;
}
.outer_pad div.white{
	background-color: white;
	color: black;
}
.rating_num {
	font-size: 1.5em;
}
.pic_cont {
	background-color: #fafafa;
	text-align:center;
	border-radius: 3px;
	width: 127px;
	padding: 1px;
}

#footer #contacts .iconcol {
    float: left;
    margin-right: 10px;
    margin-bottom: -5px;
}
#footer #contacts .record {
    clear: left;
}

#footer #contacts .middle {
    padding: 16px 0;
}

#article_block {
}

#article_block .frame {
    border-radius: 9px;
    border: solid 1px #aaaaaa;
    padding: 5px;
}
.alcol {
    width: 226px;
    float:left;
}
.arcol {
    margin-left:242px;
}
#article_block h2{
    color: red;
    font-style: normal;
    font-weight: normal;
    margin: 5px 10px;
}

#article_block p {
    margin: 0 5px;
}